@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer;
@model IEnumerable<ibillcraft.Models.SubscriptionModel>
@{
    // Layout = null;
    Layout = "~/Views/Shared/_layout_common.cshtml";
}


<div>
    <button onclick="redirect()">Registration Successfully Continue to Login</button>
</div>

<script>
    function redirect() {
        window.location.href = '/CompanyLoginRegistration';
    }
</script>
