@{
    Layout = null;

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login to Printsoft <a href="~/companyloginregistration/">Login</a>.</p>
</div>
